# App URL for dynamic QR links
APP_URL=https://ais-dev-t7nl6b3epdfcyxaydf67je-30542665147.europe-west2.run.app

# Airtable Configuration
AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
AIRTABLE_TABLE_PERFILES=Perfiles
AIRTABLE_TABLE_SISTEMA=Perfil_Sistema

